#container{
    margin: auto;
    width: 90%;
    margin-top: 50px;
    display: flex;
  }

  #container>div{
    width: 33%;
    height: 700px;
  }


  #ratingSection{
    display: flex;
  }

  #ratingSection>#rating{
    width: 50px;
    color: white;
    border: none;
    background-color: green;
  }

  #rating_count{
    color: rgb(240, 37, 37);
  }

  #highLight{
    margin-left: 20px;
  }

  #bill{
    margin: auto;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 90%;
    border-radius: 15px;
  }

  #green{
    color: green;
  }

  #delivery{
    margin: auto;
    width: 90%;
    text-align: center;
    padding-top: 20px;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
  }

  #footer1{
    height: 100px;
    text-align: center;
    border: 1px solid green;
    background-color: rgb(255,111,97);
  }

  #footer1>h3{
    margin-top: 45px;
  }