* {
    font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.big-container {
    background-color: #fff;
    ;
}

.upper {
    background-color: hsl(0, 0%, 100%);
}

.nav-bar {
    width: 100%;
    box-shadow: 2px 2px hsl(0, 0%, 100%);
}

.upper {
    width: 100%;
    height: 50px;
    display: flex;
}

.quick {
    margin-left: 20px;
    margin-top: 10px;
}

.contant-mid {
    color: grey;
    font-size: 20px;
    margin-top: 40px;
    background-color: #FAFAFA;
}

.but {
    width: 150px;
    color: white;
    border-radius: 5px;
    margin-left: 50px;
    background-color: #E74C3C;
}

.location>input[placeholder="New Delhi"] {
    color: black;
}

.leftnav {
    display: flex;
}

.uploa {
    margin-top: 10px;
    margin-left: 50px;
}

.logo {
    margin-left: 16px;
}

.leftnav>div {
    margin-left: 40px;
}

.rightnav {
    display: flex;
    width: 30%;
}

.navmid>.rightnav {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 250px;
}

.line {
    width: 2px;
    height: 10px;
    background-color: black;
    margin-top: 5px;
    margin-left: 5px;
}

.p-top {
    margin-top: 0px;
    margin-left: 20px;
}

.halp {
    margin-left: 5px;
    margin-top: 0px;
}

.needhelp {
    margin-top: 0px;
    margin-left: 90px;
}

.cart {
    width: 20px;
    margin-left: 50px;
    margin-top: 0px;
}

.cart>img {
    max-width: 100%;
}

.location {
    margin-left: 15px;
}

.signupf {
    margin-top: 0px;
    margin-left: 8px;
}

.marginforin {
    margin-top: 10px;
}

.location .search,
.searchprod {
    width: 700px;
    font-size: 15px;
}

.searchprod {
    margin-left: 40px;
}

.middle {
    display: flex;
}

.medicine {
    font-size: 17px;
    font-weight: bold;
}

.navmid {
    display: flex;
    width: 90%;
    margin-left: 1%;
}

.navmid>.leftnav {
    margin: 10px 10px;
}

.middle {
    width: 100%;
    height: 40px;
}

.lower {
    width: 100%;
    height: 30px;
}


/* drop down content */


/* adding drop down */

.dropdown1 {
    display: flex;
    margin-top: 10px;
}

.dropdown1>div {
    margin-left: 20px;
    margin-top: 0px;
}

.dropdown1 a {
    display: block;
    color: #000000;
    padding: -1px;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover.dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #ffffff;
    background-color: #00A4BD;
}


/* belowcont */

.belowcont {
    background-color: #FAFAFA;
    display: flex;
}

.left {
    width: 45%;
    margin-left: 100px;
    margin-top: 20px;
}

.heading {
    font-size: 18px;
    margin-left: 20px;
}

.cartdetail {
    width: 100%;
    background-color: white;
    margin-top: 20px;
}

.right {
    margin-left: 50px;
    width: 30%;
    margin-top: 20px;
}

.coupon {
    width: 100%;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
}

.save {
    font-size: 20px;
    color: #2E7D32;
    margin-top: 8px;
    font-weight: 700;
    margin-left: 10px;
}

.imagecoup {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.member {
    color: grey;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 5px;
}

.buts {
    display: flex;
}

.buts {
    margin-top: 20px;
}

.but-1 {
    width: 180px;
    margin-left: 10px;
    font-size: 12px;
    padding: 10px;
    color: #FF5722;
    border: 1px solid #FF5722;
    border-radius: 5px;
    background-color: white;
}

.careplan {
    margin-left: 10px;
    margin-top: 7px;
    font-size: 15px;
}

.but-2 {
    width: 180px;
    margin-left: 20px;
    font-size: 12px;
    padding: 10px;
    color: white;
    background-color: #FF5722;
    border: white;
    border-radius: 5px;
}

.grey {
    color: grey;
    margin-top: 20px;
}

.applycoupon {
    display: flex;
}

.imgcoup {
    width: 20px;
    margin-left: 20px;
}

.imgcoup {
    max-width: 100%;
}

.apcoupon {
    margin-left: 15px;
    font-size: 18px;
    font-weight: 300px;
    cursor: grab;
}

.arrowright {
    margin-left: 250px;
    width: 20px;
}

.arrowright>img {
    max-width: 60%;
}

.check {
    margin-left: 10px;
}

.box-2 {
    display: flex;
}

.checkbox-tak {
    margin-left: 10px;
}


/* full body */

.fullbody {
    margin-top: 20px;
}

.checkhealth {
    margin-top: 20px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
}

.check {
    font-size: 19px;
    margin-left: 28px;
}

.checkbox-tak {
    width: 50px;
}

.bodycheckfull {
    font-size: 19px;
}

.testdone {
    color: grey;
    font-size: 16px;
    margin-top: 10px;
}

.pay {
    color: #1aab2a;
    margin-top: 10px;
}

.checkoutbut {
    width: 80%;
    margin: auto;
    background-color: tomato;
    font-size: 20px;
    width: 80%;
    border: tomato;
    color: white;
    text-align: center;
    padding: 1%;
}

.deliverylocation {
    display: flex;
}

.locat {
    color: black;
    font-size: 15px;
    margin-left: 46px;
}

.checkout {
    margin-top: 50px;
}

.placename {
    margin-left: 185px;
    color: tomato;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 0px;
}

.checkout {
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
    margin-top: 50px;
}

.outerdiv {
    background-color: white;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
    border-bottom: 1px solid gray;
}

.inner-1 {
    display: flex;
    width: 100%;
}

.inner-1-left {
    margin-left: 10px;
    font-size: 10px;
    font-weight: 700;
    width: 50%;
    margin-top: 10px;
}

.inner-1-right {
    margin-left: 170px;
    width: 20%;
    text-align: right;
    font-size: 10px;
    font-weight: 700;
    margin-top: 10px;
}

.inner-2 {
    display: flex;
    width: 100%;
}

.inner-2-right {
    color: #9e9e9e;
    font-size: 10px;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 10px;
    width: 50%;
    margin-bottom: 20px;
}

.inner-2-left {
    margin-left: 170px;
    width: 20%;
    text-align: right;
    font-size: 10px;
    font-weight: 700;
    margin-top: 10px;
    color: #9e9e9e;
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 20px;
}

.third {
    width: 100%;
    display: flex;
}

.third-1 {
    width: 15px;
    margin-left: 10px;
    margin-top: 5px;
}

.third-2 {
    font-size: 15px;
    font-weight: 700;
    margin-top: 10px;
    color: #9e9e9e;
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 10px;
}

.deleteremove {
    max-width: 100%;
}


/* sum of cont  total iteam in the cart*/

.sumofcont {
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
    margin-top: 20px;
    margin-bottom: 20px;
}

.sumofcont2 {
    /* innerdiv */
    display: flex;
    margin-top: 10px;
    padding-top: 5px;
}

.iteamdis {
    /* iteam disc */
    margin-left: 15px;
}

.mrprate {
    margin-left: 250px;
    width: 50px;
    text-align: right;
}

.secondtot {
    /* second div */
    display: flex;
    margin-top: 10px;
    padding-top: 5px;
}

.moprate {
    /* second div right */
    margin-left: 15px;
}

.mcprate {
    margin-left: 270px;
    width: 50px;
    text-align: right;
}

.ship {
    display: flex;
    margin-top: 10px;
    border-top: 1px solid grey;
    padding-top: 5px;
}

.shipingfee {
    margin-left: 15px;
}

.asshipping {
    margin-left: 165px;
}

.thirdtotal {
    display: flex;
    margin-top: 10px;
    border-top: 1px solid grey;
    padding-top: 5px;
}

.tobepaid {
    margin-left: 15px;
}

.moneyinrupee {
    margin-left: 300px;
    width: 50px;
    text-align: right;
}

.fourth {
    /*  */
    display: flex;
    margin-top: 10px;
    height: 30px;
    padding-top: 5px;
    background-color: #AED581;
}

.totalsaving {
    /*  */
    margin-left: 15px;
}

.savedmoney {
    /*  */
    margin-left: 280px;
    text-align: right;
    width: 50px;
}


/* coupon modal */