body{
  margin: 0%;
  background-color: #F8F8F8;
}


/* navbar begin */
#whole{
  display: flex;
  width: 70%;
  margin: 50px auto;
}

#navbar {
  display: flex;
  grid-template-columns: 20% 60% 20%;
  justify-content: space-around;
  height: 70px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: white;
}

#navbar>div>input{
  margin-top: 25px;
  width: 900px;
  height: 28px;
  background-color: #F1F4F6;
  border: none;
}

.logo {
  width: 150px;
  margin-top: 3%;
  margin-left: 5%;
}

#title>h2{
  margin-left: 30px;
}



/* summary section */
#page-title {
  width: 70%;
  margin: auto;
  color: #212121;
  font-weight: 500;
  font-size: 18px;
}



/* Container */
#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0px solid black;
  margin-right: 20px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#second-container{
  display: flex;
  flex-direction: column;
}

/* #container > div:nth-child(1) {
   border: 1px solid blue; 
  height: auto;
  width: 620px;
}

cards 
#container > div:nth-child(1) > p {
  margin-left: 15px;
  margin-bottom: 2%;
  margin-top: 3%;
  color: #333;
  font-size: 15px;
} */

/* #items1 {
  border: 1px solid blue;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 90px;
  width: 90%;
  margin: auto;
  padding: 2%;
  display: flex;
} */

#items-img1 img {
  /* border: 1px solid red; */
  width: 40px;
  height: 40px;
}

#items-details1 {
  /* border: 1px solid green; */
  width: 100%;
  height: 90px;
  /* margin-left: 30px; */
}

#items-details1 > div:nth-child(1) {
  /* border: 1px solid black; */
  width: 100%;
  /* margin-right: 0%; */
  height: 13px;
  font-weight: 700;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

#items-details1 > div:nth-child(1) > p {
  margin-top: 0;
}

#items-details1 > div:nth-child(2) {
  /* border: 1px solid black; */
  width: 100%;
  height: 10px;
  font-size: 10px;
  font-weight: 700;
  color: #9e9e9e;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
}

#items-details1 > div:nth-child(2) > p {
  margin-top: 2px;
}

#items-details1 > div:nth-child(3) {
  /* border: 1px solid black; */
  width: 100%;
  height: 13px;
  margin-top: 0;
  margin-bottom: 2.5%;
  display: flex;
  justify-content: space-between;
}

#items-details1 > div:nth-child(3) > div:nth-child(1) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #9e9e9e;
  width: 68px;
}

#items-details1 > div:nth-child(3) > div:nth-child(2) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #1aab2a;
  width: auto;
  font-size: 10px;
  text-align: right;
}



#items2 {
border: 1px solid blue;
background-color: white;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
height: 90px;
width: 90%;
margin: auto;
padding: 2%;
display: flex;
}
#items-img2 img {
/* border: 1px solid red; */
width: 40px;
height: 40px;
}
#items-details2 {
/* border: 1px solid green; */
width: 100%;
height: 90px;
/* margin-left: 30px; */
}
#items-details2 > div:nth-child(1) {
/* border: 1px solid black; */
width: 100%;
/* margin-right: 0%; */
height: 13px;
font-weight: 700;
font-size: 12px;
display: flex;
justify-content: space-between;
}
#items-details2 > div:nth-child(1) > p {
margin-top: 0;
}
#items-details2 > div:nth-child(2) {
/* border: 1px solid black; */
width: 100%;
height: 10px;
font-size: 10px;
font-weight: 700;
color: #9e9e9e;
margin-top: 0;
display: flex;
justify-content: space-between;
}
#items-details2 > div:nth-child(2) > p {
margin-top: 2px;
}
#items-details2 > div:nth-child(3) {
/* border: 1px solid black; */
width: 100%;
height: 13px;
margin-top: 0;
margin-bottom: 2.5%;
display: flex;
justify-content: space-between;
}
#items-details2 > div:nth-child(3) > div:nth-child(1) {
display: flex;
justify-content: space-around;
align-items: center;
color: #9e9e9e;
width: 68px;
}
#items-details2 > div:nth-child(3) > div:nth-child(2) {
display: flex;
justify-content: space-around;
align-items: center;
color: #1aab2a;
width: auto;
font-size: 10px;
text-align: right;
}

#last-min-div {
  background-color: white;
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  height: auto;
  width: 90%;
  margin: auto;
  padding: 2%;
  display: flex;
}
.last-min-cards {
  width: 28%;
  height: auto;
  /* border: 1px solid green; */
  padding: 2%;
  margin: auto;
}
.last-min-cards img {
  width: 50%;
  height: 100px;
  margin-left: 25%;
  margin-bottom: 30%;
}
.last-min-cards > img + p {
  color: #2b2b2b;
  font-size: 14px;
  margin: 0;
}
.last-min-cards > img + p + p {
  color: #767676;
  font-size: 12px;
  margin: 0;
  margin-top: 3px;
}
.last-min-cards p + div {
  display: flex;
  align-items: center;
  height: 20px;
  margin-top: 5%;
}
.last-min-cards p + div > div {
  background-color: rgb(26, 171, 42);
  width: 40px;
  height: 20px;
  display: flex;
  padding-left: 5px;
  align-items: center;
}
.last-min-cards h5 {
  margin: 0;
  color: white;
}
.last-min-cards p + div > p {
  font-size: 12px;
  margin-left: 3%;
  color: #767676;
}
.last-min-cards p + div + div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}
.last-min-cards p + div + div > p {
  font-size: 14px;
}
.last-min-cards p + div + div > h4 {
  font-size: 14px;
  color: #ff6f61;
}
/* second container */
#second-container {
  /* border: 1px solid black; */
  height: auto;
  width: 500px;
}
#second-container > div:first-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  /* border: 1px solid green; */
  /* padding: 10px; */
  width: 92%;
  margin: auto;
  margin-bottom: 1%;
}
#second-container > div:first-child p,
#second-container > div:first-child h4 {
  margin-bottom: 0;
}
#second-container > div:nth-child(2) {
  /* border: 1px solid firebrick; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  /* background-color: white; */
  height: auto;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  /* margin-top: 43px; */
  padding: 4%;
  padding-top: 0;
}
#second-container > div:nth-child(2) > div:first-child {
  /* border: 1px solid blue; */
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  padding: 10px;
}
#address-details > p {
  color: #333;
  font-size: 12px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 4px;
}

#second-container > div:nth-child(2) > div:first-child > img {
  width: 25%;
}
#second-container > div:nth-child(2) > div:first-child > h4 {
  color: rgb(26, 171, 42);
  margin: 0;
}
#second-container > div:nth-child(2) > div:first-child > h4 + p {
  color: #5b5353;
  font-size: 12px;
  font-weight: 700;
  margin: 0;
  margin-top: 2%;
}
#second-container > div:nth-child(2) > div:first-child > h4 + p + p {
  color: #5b5353;
  font-size: 12px;
  margin: 0;
  margin-top: 1%;
}

#second-container i {
  font-size: 20px;
  color: #9e9e9e;
}

#price-details {
  /* border: 1px solid seagreen; */
  height: auto;
  width: 100%;
  margin-top: 5%;
}

#price-details p {
  font-size: 12px;
  color: #333;
}

#price-details h5 {
  color: #767676;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 10px;
}

#price-details > div {
  /* border: 1px solid seagreen; */
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  height: auto;
}

#price-details > div:last-child {
  background-color: #e4f6e7;
}

#price-details > div:last-child > h5 {
  color: rgb(26, 171, 42);
}

#checkout {
  /* border: 1px solid red; */
  width: 100%;
  height: auto;
  margin-top: 4%;
  background-color: white;
  /* padding-bottom: 3%; */
}

#checkout > div:nth-child(1) {
  background-color: #ff6f61;
  color: white;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  margin: auto;
  padding: 15px 0px 15px 0px;
  text-align: center;
  border-radius: 2px;
}

#checkout > div:nth-child(1):hover {
  background-color: white;
  color: #ff6f61;
  border: 1px solid #ff6f61;
}
#checkout > div:nth-child(1) p {
  display: inline;
}

.footer-text {
  /* border: 1px solid red; */
  width: 100%;
  margin: auto;
  margin-top: 10%;
  font-size: 10px;
  color: #757575;
  line-height: 1.42857143;
}

#prod-discount{
  color: #1aab2a;
}

#remove1{
  margin-top: 25px;
  background-color: #ff6f61;
  color: white;
  border-color:#ff6f61;
}

#remove1:hover{
  background-color: white;
  color: #ff6f61;
}


#remove2{
  margin-top: 25px;
  background-color: #ff6f61;
  color: white;
  border-color:#ff6f61;
}

#remove2:hover{
  background-color: white;
  color: #ff6f61;
}


/* #inc-rmv{
width: 60px;
height: 70px;
}

#inc-rmv>#plus{
border: none;
margin-left: 15;
background-color: #ff6f61;
}

#inc-rmv>#minus{
border: none;
margin-left: 10px;
background-color: #ff6f61;
} */


.orange:hover{
  color: #ff6f61;
}


.prod{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}