
#footer{
    width: 100%;
    height:700px;
    box-sizing: border-box;
    background-color:rgb(255,252,248);
    border-bottom:1px solid rgba(27, 31, 35, 0.15);
    border-top:1px solid rgba(27, 31, 35, 0.15);
    font-family: Arial, Helvetica, sans-serif;
}
#footer p{
    color:#666666 ;
    font-size: 13px;
}
#footer-top{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    background-color:rgb(255,252,248) ;
    line-height: 20px ;
    border-bottom:1px solid rgba(27, 31, 35, 0.15);
    margin: auto;
    padding: 60px;
    gap: 70px;
}
#footer-top a{
    text-decoration: none;
    color: black;
}
#footer-top h4{
    margin-bottom: 20px;
    font-weight: 100;
}
#cntlinks{
    display: flex;
    width: 30%;
    gap:1px;
    margin-bottom: 5px;
}
#cntlinks img{
    margin-right: 10px;
}
#cntlinks img:hover{
    cursor: pointer;
}
#signup2{
    width: 80px;
    background-color:#FF6F61 ;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: white;
}
#signup2:hover{
    cursor: pointer;
}
#apps img{
    width: 50%;
}
#apps img:hover{
    cursor: pointer;
}



#footer-mid{
    width: 96%;
    height: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(255,252,248) ;
    line-height: 20px ;
    border-bottom:1px solid rgba(27, 31, 35, 0.15);
    margin: auto;
}
#footer-mid h2{
    margin-bottom: 20px;
}
#footer-mid>div{
    display: flex;
    width: 20%;
    align-items: center;
    font-weight: lighter;
    font-size: smaller;
}
#footer-mid p{
    color:#9F9E9D;
}


#footer-bottom{
    width: 80%;
    height: 20%;
    background-color:rgb(255,252,248) ;
    line-height: 40px;
    margin: auto;
    text-align: center;
}
#footer-bottom img{
    width: 7%;
    margin-top: 30px;
}